@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  background: url(../images/so-white.png);
  font-family: 'Roboto condensed';
}

h1 {

  font-size: 3.5em;
}

.centered-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-spacing {
  padding: 5rem 0;
}

.title-spacing {
  padding-bottom: 2.5rem
}